@page "/user"
@inject UserClients Clients
@attribute [Authorize(Roles = "Administrator")]
<div class="row mt-2">
    <div class="col-md-6">
        <h3 class="text-primary">User`s List</h3>
    </div>
    <div class="col-md-6 text-end">
        <a class="btn btn-primary" role="button" href="/userupsert">Add User</a>
    </div>
</div>
@if(users == null)
{
    <div class="text-center">
        <img src="/images/loading.gif" />
    </div>
}
else
{
    <table class="table table-striped table-bordered table-hover mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Password</th>
                <th>Status</th>
                @* <th>UpdatedOn</th> *@
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.Password</td>
                    <td>@(user.Status?"Active":"InActive")</td>
                    @* <td>@user.UpdatedOn</td> *@
                    <td>
                        <NavLink href="@($"userupsert/{user.Id}")" class="btn btn-primary"><i class="bi bi-pencil-square"></i></NavLink>
                        <button data-bs-toggle="modal" data-bs-target="@GetDeleteModalId(user)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                        
                        <DeleteUser User="@user"></DeleteUser>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private Users[]? users;
    
    protected override void OnInitialized()
    {
        users = Clients.GetUsers();
    }
    
    private string GetDeleteModalId(Users user)
    {
        return $"#{DeleteUser.GetModalId(user)}";
    }
}
